body {
  margin: 0;
  padding: 0;
  background-color: #040405;
}

/* Panel Wrapper Fade-In Animation */
.panel-wrapper {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

.panel-wrapper.fade-in {
  opacity: 1;
}

.login-container {
  max-height: 100vh;
  height: 100vh;
  display: table;
  width: 100%;
  background-image: url('./assets/images/Login-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.login-back-link {
text-align: center;
}
.login-back-link a:hover {
  color: #764ba2;
  text-decoration: underline;
}
.login-content {
  display: table-cell;
  vertical-align: middle;
}
.login-form-container {
  display: flex;
  max-width: 1200px;
  margin: 55px auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.login-form_left {
  flex: 0 0 40%;
  padding: 45px;
}
.login-form_right {
  flex: 0 0 60%;
  background: #000;
}
.login-form_right img {
  display: block;
  padding: 60px;
  width: 100%;
}


.login-form_left_header {
  margin-bottom: 29px;
}
.login-form_left_header h1 {
  font-size: 22px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 10px;
}
.login-form_left_header h1 span {
  font-weight: bold;
}
.login-form_left_header p {
  font-size: 15px;
}

.login-form_left_divider {
  text-align: center;
}
.login-form_left_divider > span {
  display: inline-block;
  background: #fff;
  position: relative;
  top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: #A9A9A9;
}

/* Sidebar   */
.jf-sideBar {
  background-color: #111111 !important;
  border-color: #111111 !important;
}
.jf-sidebar-header {
  border-bottom: none !important;
}
.jf-sidebar-footer {
  display: none;
}
/* Top bar */
.jiffyui-topbar__wrapper .topbar-container,
.jiffyui-topbar__wrapper .topbar-container:hover {
  background: #242424;
  border: none;
}
.jiffyui-topbar__wrapper .topbar-container::before {
  background: #242424;
  border: none;
}
.jiffyui-content_wrapper {
  min-height: calc(100vh - 100px) !important;
  height: auto !important;
  padding-bottom: 70px;
}
.user-menu-container > button:hover {
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}
.user-menu-container > button .jf-btn-suffix-icon svg path {
  fill: #a39595;
  /* color: #fff; */
}
.connect-left-action > button.jf-btn:hover {
  background: transparent !important;
  border-color: transparent !important;
}
.connect-left-action button svg {
  width: 25px;
  height: 25px;
}
.connect-left-action button path {
  fill: #fff;
}
/* Dashboard */
.box-container {
  max-width: 1300px;
  margin: 0px auto;
}
.jiffyui-main__content {
  padding-left: 30px !important;
  padding-right: 30px !important;
  position: relative;
}

.compliance-metrics-item-progress-bar .jf-progress-val, 
.compliance-metrics-item-progress-bar .jf-progress-label {
  color: #fff;
}

.environmental-impact-content-item {
  padding: 20px 15px;
  background: #333;
}
.environmental-impact-content-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.environmental-impact-content-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.environmental-impact-content-item:nth-child(2n+1) {
  background: #3D3D3D;
}
.environmental-impact-content-item p {
  color: #ffdf;
}


.jf-table__wrapper {
  border-color: #4a4a4a !important;
}
.jf-table__heading {
  background: #413737 !important;
  color: #fff;
  border-color: #4a4a4a !important;
}

.jf-table__heading-title {
  color: #fff !important;
}
.jf-table tbody tr:nth-child(2n+1) td {
  background: #2A2A2A;
  border-color: #2A2A2A;
}
.jf-table tbody tr td {
  background: #222222;
  color: #fff;
  border-color: #222222;
}


.jiffyui-footer__wrapper {
  background: #1F1F1F;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 24px 20px;
}


/* configuration */
.inverse-color {
  color: #fff;
}