body {
  margin: 0;
  padding: 0;
  background-color: #040405;
}
.login-container {
  max-height: 100vh;
  height: 100vh;
  display: table;
  width: 100%;
  background-image: url('./assets/images/Login-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.login-back-link {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
}
.login-back-link a:hover {
  color: #764ba2;
  text-decoration: underline;
}
.login-content {
  display: table-cell;
  vertical-align: middle;
}
.login-form-container {
  display: flex;
  max-width: 1200px;
  margin: 55px auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.login-form_left {
  flex: 0 0 40%;
  padding: 45px;
}
.login-form_right {
  flex: 0 0 60%;
  background: #000;
}
.login-form_right img {
  display: block;
  padding: 60px;
  width: 100%;
}


.login-form_left_header {
  margin-bottom: 29px;
}
.login-form_left_header h1 {
  font-size: 22px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 10px;
}
.login-form_left_header h1 span {
  font-weight: bold;
}
.login-form_left_header p {
  font-size: 15px;
}

.login-form_left_divider {
  text-align: center;
}
.login-form_left_divider > span {
  display: inline-block;
  background: #fff;
  position: relative;
  top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: #A9A9A9;
}

/* Sidebar   */
.jf-sideBar {
  background-color: #111111 !important;
  border-color: #111111 !important;
}
.jf-sidebar-header {
  border-bottom: none !important;
}
.jf-sidebar-footer {
  display: none;
}
/* Top bar */
.jiffyui-topbar__wrapper .topbar-container {
  background: #242424;
  border: none;
}

/* Dashboard */
.dashboard-container {
  max-width: 1300px;
  margin: 0px auto;
}
.jiffyui-main__content {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.compliance-metrics-item-progress-bar .jf-progress-val, 
.compliance-metrics-item-progress-bar .jf-progress-label {
  color: #fff;
}

.environmental-impact-content-item {
  padding: 20px 15px;
  background: #333;
}
.environmental-impact-content-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.environmental-impact-content-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.environmental-impact-content-item:nth-child(2n+1) {
  background: #3D3D3D;
}
.environmental-impact-content-item p {
  color: #ffdf;
}